<div class="row mt-3">
  <div class="col-2">
    <a routerLink="pro" >
        <div class="card cardMe">
            <img src="../../../assets/img/0f5fc7c0-a222-4c1f-84b3-95199dbda487.jpg" class="card-img-top" alt="...">
            <div class="">
                
                
              <div class="text-overlay">
                Precio  |
                <img src="../../../assets/img/user.png" alt="" class="rounded-circle image"/>
      
              </div>
            </div>
          </div>
      </a
    >
  </div>
</div>
