<div>
  <div class="full-screen-container">
    <div class="image-container">
      <img
        src="../../../assets/img/logo.png"
        alt="Descripción de la imagen"
      />
    </div>
  </div>
  <div class="row info">
    <div class="col">
      <div class="row">
        <div class="col text-end">
          <h5 class="text-primary pt-3">Nombre</h5>
        </div>
        <div class="col-1">
          <img
            src="../../../assets/img/user.png"
            alt=""
            class="rounded-circle image"
          />
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>

    <section class="mt-4 mb-4">

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
    adipisci dolores neque, praesentium perferendis rem ipsa dolorem vero magnam
    consequatur maiores officiis voluptates deleniti laudantium sint at
    inventore fugit.
    </section>
    <mat-divider></mat-divider>

    <h5 class="text-primary pt-3">Comentarios</h5>

    <mat-divider></mat-divider>

    <div class="col">
        <div class="row">
            <div class="col-1 center">
                <img
                  src="../../../assets/img/user.png"
                  alt=""
                  class="rounded-circle image"
                />
            Nombre

              </div>
          <div class="col-9 text-start">
            <p class="text-primary pt-3">Nombre</p>
          </div>
          <div class="col-2 text-start">
            <small class="text-primary pt-3">13-03-2024 14:20</small>
          </div>
          <div class="col-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias
    adipisci dolores neque, praesentium perferendis rem ipsa dolorem vero magnam
    consequatur maiores officiis voluptates deleniti laudantium sint at
    inventore fugit.
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
  </div>
  <div class="fixed-bottom">
    <!-- Contenido de tu div -->
    <div class="row">
      <div class="col">
        <h3 class="text-primary">2000€</h3>
      </div>
      <div class="col">
        <button mat-button color="primary">Chat</button>&nbsp;
        <button mat-raised-button color="primary">Comprar</button>
      </div>
    </div>
  </div>
</div>
