<mat-card >
    <mat-card-content>

<p>Términos y Condiciones de Uso</p>

<p>
  Por favor, lee detenidamente los siguientes términos y condiciones antes de
  utilizar nuestra aplicación web. Al acceder y utilizar nuestros servicios,
  aceptas cumplir con estos términos. Si no estás de acuerdo con alguna parte de
  los términos, te pedimos que no utilices nuestra aplicación.
</p>
<ul>
  <li>
    1. Uso de la Aplicación
    <ul>
      <li>
        1.1 Al utilizar nuestra aplicación, te comprometes a respetar todas las
        leyes y regulaciones aplicables.
      </li>
      <li>
        1.2 No debes utilizar la aplicación de manera que pueda dañar,
        deshabilitar, sobrecargar o perjudicar de cualquier manera nuestros
        servicios.
      </li>
    </ul>
  </li>
  <li>
    2. Privacidad
    <ul>
      <li>
        2.1 Respetamos tu privacidad. Nuestra política de privacidad describe
        cómo recopilamos, almacenamos y utilizamos tu información personal.
      </li>
      <li>
        2.2 Al utilizar la aplicación, aceptas las prácticas descritas en
        nuestra política de privacidad.
      </li>
    </ul>
  </li>
  <li>
    3. Contenido del Usuario
    <ul>
      <li>
        3.1 Al enviar o compartir contenido a través de nuestra aplicación,
        garantizas que tienes los derechos necesarios para hacerlo y aceptas que
        no infringirás los derechos de terceros.
      </li>
      <li>
        3.2 Nos reservamos el derecho de eliminar cualquier contenido que
        consideremos inapropiado o que viole estos términos y condiciones.
      </li>
    </ul>
  </li>
  <li>
    4. Modificaciones
    <ul>
      <li>
        4.1 Nos reservamos el derecho de modificar estos términos y condiciones
        en cualquier momento. Las modificaciones serán efectivas inmediatamente
        después de la publicación de los términos actualizados en nuestra
        aplicación.
      </li>
      <li>
        4.2 Continuar utilizando la aplicación después de la publicación de
        modificaciones constituye tu aceptación de los nuevos términos.
      </li>
    </ul>
  </li>
  <li>
    5. Terminación
    <ul>
      <li>
        5.1 Nos reservamos el derecho de suspender o terminar tu acceso a la
        aplicación en cualquier momento y por cualquier motivo, sin previo
        aviso.
      </li>
    </ul>
  </li>
</ul>
<p>
  Al utilizar nuestra aplicación, aceptas estos términos y condiciones. Si
  tienes alguna pregunta, por favor contáctanos.
</p>
</mat-card-content>
</mat-card>