<div class="row tam">
    <div class="col-12">
      <div class="login-form">
        <!--login form-->
        <h2>Registro</h2>
        <form [formGroup]="form"  (ngSubmit)="register()">
            <input type="text" placeholder="Nombre usuario" formControlName="name"/>

          <input type="email" placeholder="E-mail" formControlName="email" />
          <input
            type="password"
            placeholder="Contrseña"
            formControlName="password"
          />
          <span>
            <input type="checkbox" class="checkbox" formControlName="remember" />
            Acepto <a class="text-naranja pointer" (click)="openDialogModal()">condiciones</a>
          </span>
          <div class="row bg-primary margin">
            <div class="col-2">
              <button type="submit" class="btn btn-default" *ngIf="!preload">Aceptar</button>
              <mat-spinner color="accent" style="width:30px;" *ngIf="preload"></mat-spinner>
  
            </div>
          </div>
          <div class="row bg-primary margin" *ngIf="error">
            <div class="col-2">
             <p class="text-naranja">Formulario incompleto</p>
  
            </div>
          </div>
        </form>
      </div>
      <!--/login form-->
    </div>
  </div>
    <div class="col-12 text-center">
      ¿Ya tienes cuenta? Identificate <a class="text-naranja pointer" (click)="openDialogLogin()">aquí</a>.
  </div>
  