<div id="main-wrapper">
    <app-header></app-header>
    <!-- <aside class="left-sidebar">
        <app-sidebar></app-sidebar>
      </aside> -->
  
    <div class="page-wrapper">
      <div class="container">
        <!-- <app-breadcrumbs></app-breadcrumbs> -->
      </div>
      <div>
        <!-- <img src="../../../assets/images/background/index.png" class="img-fluid">     -->
      </div>
  
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  