form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    color:#757575;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  


 



  .file-input-container {
    position: relative;
    overflow: hidden;
    background-color: #c9caca;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
  }

  .file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .file-input-label {
    padding: 8px 16px;
    display: block;
  }

