<header>
  <nav>
    <div class="logo">
      <img src="../../../assets/img/logo2.png" />

      <button
        mat-button
        aria-label="Example icon button with a vertical three dot icon"
        [matMenuTriggerFor]="animals"
      >
        <mat-icon>reorder</mat-icon>
      </button>
      <mat-menu #animals="matMenu" class="mat-elevation-z1">
        <button mat-menu-item *ngIf="isSmallScreen && token"  routerLink="/store" >
          Almacen
        </button>
        <button mat-menu-item *ngIf="isSmallScreen"  routerLink="/market">
          Mercado
        </button>
        <button mat-menu-item *ngIf="isSmallScreen">
          Artistas
        </button>
        <button mat-menu-item *ngIf="isSmallScreen">
          Salas
        </button>
        <button mat-menu-item [matMenuTriggerFor]="vertebrates">
          Categorias
        </button>
        <button mat-menu-item [matMenuTriggerFor]="invertebrates">
          Salas públicas
        </button>
      </mat-menu>

      <mat-menu #vertebrates="matMenu" class="mat-elevation-z1">
        <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
        <button mat-menu-item [matMenuTriggerFor]="amphibians">
          Amphibians
        </button>
        <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
      </mat-menu>

      <mat-menu #invertebrates="matMenu" class="mat-elevation-z1">
        <button mat-menu-item>Insects</button>
        <button mat-menu-item>Molluscs</button>
        <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button>
      </mat-menu>

      <mat-menu #fish="matMenu" class="mat-elevation-z1">
        <button mat-menu-item>Baikal oilfish</button>
        <button mat-menu-item>Bala shark</button>
        <button mat-menu-item>Ballan wrasse</button>
        <button mat-menu-item>Bamboo shark</button>
        <button mat-menu-item>Banded killifish</button>
      </mat-menu>

      <mat-menu #amphibians="matMenu" class="mat-elevation-z1">
        <button mat-menu-item>Sonoran desert toad</button>
        <button mat-menu-item>Western toad</button>
        <button mat-menu-item>Arroyo toad</button>
        <button mat-menu-item>Yosemite toad</button>
      </mat-menu>

      <mat-menu #reptiles="matMenu" class="mat-elevation-z1">
        <button mat-menu-item>Banded Day Gecko</button>
        <button mat-menu-item>Banded Gila Monster</button>
        <button mat-menu-item>Black Tree Monitor</button>
        <button mat-menu-item>Blue Spiny Lizard</button>
        <button mat-menu-item disabled>Velociraptor</button>
      </mat-menu>
      
    </div>
    <div class="menu">
      <button mat-button color="primary" routerLink="/store" *ngIf="token">Almacen</button
        ><button mat-button color="primary" routerLink="/market">Mercado</button
        ><button mat-button color="primary">Artistas</button
        ><button mat-button color="primary">Salas</button>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="new" *ngIf="token">Nuevo <mat-icon>keyboard_arrow_down</mat-icon></button>
      </div>
    
    <div class="buttons">
      <!-- <input type="text" class="search-input" placeholder="Buscar..." /> -->
      <input [@focusWidth]="focusState" (focus)="onFocus()" (blur)="onBlur()" type="text" class="search-input"  placeholder="Buscar...">
      
      <!-- Agrega más botones según sea necesario -->
    </div>
      <button
        mat-icon-button
        color="primary"
        (click)="openDialog('Login')"
        *ngIf="token === ''"
      >
        <mat-icon>person</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        [matMenuTriggerFor]="menu"
        color="primary"
        *ngIf="token !== ''"
      >
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="mat-elevation-z1 pe-2">
        <button mat-menu-item routerLink="/profile">Prefil <mat-icon>person_outline</mat-icon></button>
        <button mat-menu-item (click)="logout()">Cerrar sesión <mat-icon>exit_to_app</mat-icon></button>
      </mat-menu>
  </nav>
</header>
<mat-menu #new="matMenu" class="mat-elevation-z1 pe-2">
  <button mat-menu-item routerLink="/store/artwork">
    Obra
  </button>
  <button mat-menu-item >
    Exposición
  </button>
</mat-menu>