header {
  border-bottom: 1px solid #cccccc;
}
/* Resetting some default styles for the list */

/* Styling the horizontal menu */
nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #005562;
  text-decoration: none;
}

.search-input {
  padding: 50px 8px;
  border: none;
  border-radius: 4px;
  margin:  10px;
  transition: width 0.8s ease; /* Agrega transiciones a las propiedades deseadas */
}

.search-input:focus {
  width: 800px; /* Ancho máximo al estar enfocado */
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center; /* Alinea los elementos verticalmente */
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  margin-left: auto; /* Empuja los elementos hacia el lado derecho */
  
}
.Login {
  
  
}
button{
  margin: 2px;
  
}
/* Estilos generales para el input de texto */
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Estilos cuando el input de texto está enfocado (focus) */
input[type="text"]:focus {
  border-color: #cccccc;
  box-shadow: 0 0 5px rgba(166, 166, 167, 0.5);
}

/* Estilos cuando el input de texto está deshabilitado */
input[type="text"]:disabled {
  background-color: #f1f1f1;
  color: #777;
}

/* Estilos para el placeholder del input de texto */
input[type="text"]::placeholder {
  color: #999;
  border-color: #cccccc;
}

/* Estilos para el texto dentro del input de texto */
input[type="text"] {
  color: #333;
  border-color: #cccccc;
}

/* CSS para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .logo {
    width: 100%; /* Oculta el logo en pantallas más pequeñas */
  }

  .buttons {
    flex-direction: column; /* Cambia la dirección de los botones a columnas en pantallas más pequeñas */
    align-items: flex-end; /* Alinea los botones a la derecha en pantallas más pequeñas */
  }

  .search-input {
    display: none /* Establece el ancho del input al 100% en pantallas más pequeñas */
  }
  .menu {
    display: none 
  }
  /* Puedes agregar más estilos según sea necesario para hacer el menú responsivo */
}