/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
    cursor: pointer;
}

.text-naranja{
    color: #f0ad4e;
}
.bg-naranja{
    background-color: #ffad40;
}
.border-naranja{
    border:1px solid #ffad40;
}