/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Estilos generales para el input de texto */
input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  /* Estilos cuando el input de texto está enfocado (focus) */
  input[type="text"]:focus {
    border-color: #cccccc;
    box-shadow: 0 0 5px rgba(166, 166, 167, 0.5);
  }
  
  /* Estilos cuando el input de texto está deshabilitado */
  input[type="text"]:disabled {
    background-color: #f1f1f1;
    color: #777;
  }
  
  /* Estilos para el placeholder del input de texto */
  input[type="text"]::placeholder {
    color: #999;
    border-color: #cccccc;
  }
  
  /* Estilos para el texto dentro del input de texto */
  input[type="text"] {
    color: #333;
    border-color: #cccccc;
  }

  




  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  /* Estilos cuando el input de texto está enfocado (focus) */
  textarea:focus {
    border-color: #cccccc;
    box-shadow: 0 0 5px rgba(166, 166, 167, 0.5);
  }
  
  /* Estilos cuando el input de texto está deshabilitado */
  textarea:disabled {
    background-color: #f1f1f1;
    color: #777;
  }
  
  /* Estilos para el placeholder del input de texto */
  textarea::placeholder {
    color: #999;
    border-color: #cccccc;
  }
  
  /* Estilos para el texto dentro del input de texto */
  textarea {
    color: #333;
    border-color: #cccccc;
  }
select {
  color: #333;
    border-color: #cccccc;
    width: 200px;
    height: 40px;
    outline: none;
    border-radius: 4px;


}

.image{
  width: 30px; height: 30px; margin: 10px;
}

.img-see{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f2f2;
}

.img-see img {
  max-width: 100%;
  max-height: 100%;
}

.container-small {
  padding: 0 40vh;
}

@media screen and (max-width: 768px) {
  .container-small {
    padding: 0 ; /* Cambia el padding a un valor fijo para pantallas más pequeñas */
  }
}

.link-plus {
  width: 20px;
    height: 20px;
    border-radius: 50%;
    text-decoration: none;

    border: 1px solid #dee2e6 ;
    color: #3e3f3f;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.link-plus:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.link-plus:focus {
  background-color: #dee2e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardMe {
  border: 1px solid #dee2e6;
  color: #3e3f3f;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
  height: 10vh;
  position: relative;
  overflow: hidden;
}

.cardMe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.9; /* Ajusta la opacidad según sea necesario */
  z-index: -1;
  transition: opacity 0.3s ease;
}
.cardMe:hover {
  opacity: 1;
  box-shadow: 0 4px 8px rgba(90, 90, 90, 0.2);

}
.cardMe:hover::before {
  opacity: 1;
  box-shadow: 0 2px 4px rgba(151, 151, 151, 0.2);

}
.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5; /* Fondo semi-transparente */
  color: #4D8891;
  text-align: center;
  transform: translateY(100%); /* Inicialmente oculto en la parte inferior */
  transition: transform 0.3s ease;
}

.cardMeBig:hover .text-overlay {
  transform: translateY(0); /* Se desplaza hacia arriba cuando el ratón está sobre .cardMe */
}
.cardMe:hover .text-overlay {
  transform: translateY(0); /* Se desplaza hacia arriba cuando el ratón está sobre .cardMe */
}