<div class="row">
  <div class="col"><h5 class="text-primary">{{title}}</h5></div>
  
  <div class="col">
    <mat-paginator
      [length]="100"
      [pageSize]="50"
      [pageSizeOptions]="[12, 24, 50, 100]"
      aria-label="Select page"
      *ngIf="title === 'Mercado'"
    >
    </mat-paginator>
    <mat-paginator
      [length]="100"
      [pageSize]="4"
      [pageSizeOptions]="[4, 8, 32, 100]"
      aria-label="Select page"
      *ngIf="title === 'Almacen'"
    >
    </mat-paginator>
  </div>
</div>

<mat-divider></mat-divider>

<div class="row mt-3">
  <div
    class="col-6 col-md-4 col-xl-3 mb-2"
    *ngFor="let item of paginatedData"
  >
    <ng-container >
      <a [routerLink]="['artworkupd', item.id]">
        <div class="cardMe">
          <div>
            <img src="{{ url }}{{ item.img }}" alt="" class="img-fluid" />
          </div>
          <div class="text-overlay">
            <div class="row">
              <div class="col">
                {{ item.title.length < 10 ? item.title : item.title.slice(0, 10) }}
              </div>
              <div class="col">
                {{ item.active ? "En venta" : "En almacen" }}
              </div>
            </div>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</div>