<div class="row mt-3">
  <div
    class="col-6 col-md-4 col-xl-3 mb-2"
    *ngFor="let item of data; let i = index"
  >
    <ng-container *ngIf="i < maxItemsToShow">
      <a [routerLink]="['artworkupd', item.id]">
        <div class="cardMe">
          <div>
            <img src="{{ url }}{{ item.img }}" alt="" class="img-fluid" />
          </div>
          <div class="text-overlay">
            <div class="row">
              <div class="col">
                {{ item.title.length < 10 ? item.title : item.title.slice(0, 10) }}
              </div>
              <div class="col">
                {{ item.active ? "En venta" : "En almacen" }}
              </div>
            </div>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</div>