<div class="row tam">
  <div class="col-12">
    <div class="login-form">
      <!--login form-->
      <h2>Login</h2>
      <form [formGroup]="form" (ngSubmit)="login()">
        <input type="email" placeholder="E-mail" formControlName="email" (focus)="error = false"/>
        <input
          type="password"
          placeholder="Contrseña"
          formControlName="password"
          (focus)="error = false"
        />
        <span>
          <input type="checkbox" class="checkbox" formControlName="remember" (focus)="error = false"/>
          Recuerdame
        </span>
        <div class="row bg-primary margin">
          <div class="col-2">
            <button type="submit" class="btn btn-default" *ngIf="!preload">Entrar</button>
            <mat-spinner color="accent" style="width:30px;" *ngIf="preload"></mat-spinner>

          </div>
        </div>
        <div class="row bg-primary margin" *ngIf="error">
          <div class="col-2">
           <p class="text-naranja">Formulario incompleto</p>

          </div>
        </div>
      </form>
    </div>
    <!--/login form-->
  </div>
</div>
  <div class="col-12 text-center">
    ¿No tienes cuenta? Registrate <a class="text-naranja pointer" (click)="openDialogRegister()">aquí</a>.
</div>
