<div class="row mt-4">
  <div class="col-1 text-primary text-center"><h5>Expos</h5></div>
  <div class="col text-primary">
    <a routerLink="/store" class="link-plus">
      <div><b>+</b></div></a
    >
  </div>
  <div class="col-10 text-end mb-2">
    <button mat-button color="primary" routerLink="/store">ver más</button>
  </div>
  <hr />
</div>

<div class="row mt-3">
  <div class="col-6 col-md-4 col-xl-2">
      <div class="cardMeBig">
        <div>
          <img src="../../../assets/img/logo.png" alt="" class="img-fluid" />
        </div>
        <div class="text-overlay">
          <div class="row">
            <div class="col-8">Nombre</div>
            <div class="col">Estado</div>
          </div>
        </div>
      </div>
   
  </div>
  
</div>
